blis==0.7.4
catalogue==2.0.4
certifi==2020.6.20
chardet==4.0.0
click==7.1.2
configparser==5.0.2
contextvars==2.4
cycler==0.10.0
cymem==2.0.5
dataclasses==0.8
decorator==4.4.2
docker-pycreds==0.4.0
filelock==3.0.12
future==0.18.2
gitdb==4.0.7
GitPython==3.1.17
huggingface-hub==0.0.8
idna==2.10
immutables==0.15
importlib-metadata==4.4.0
Jinja2==3.0.1
joblib==0.16.0
kiwisolver==1.2.0
MarkupSafe==2.0.1
matplotlib==3.3.1
murmurhash==1.0.5
networkx==2.5.1
nltk==3.5
numpy==1.19.1
opt-einsum==3.3.0
packaging==20.9
pandas==1.1.5
pathtools==0.1.2
pathy==0.5.2
Pillow==7.2.0
preshed==3.0.5
promise==2.3
protobuf==3.17.1
psutil==5.8.0
pydantic==1.7.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
regex==2020.7.14
requests==2.25.1
sacremoses==0.0.45
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.1
sentry-sdk==1.1.0
shortuuid==1.0.1
six==1.15.0
smart-open==3.0.0
smmap==4.0.0
spacy==3.0.6
spacy-legacy==3.0.5
srsly==2.4.1
subprocess32==3.5.4
thinc==8.0.3
threadpoolctl==2.1.0
tokenizers==0.10.3
tqdm==4.48.2
transformers==4.6.1
typer==0.3.2
typing-extensions==3.10.0.0
ujson==4.0.2
urllib3==1.26.5
wandb==0.10.31
wasabi==0.8.2
zipp==3.4.1
